<!-- Navigation -->
<div class="top-navigation" data-ng-controller="HeaderController">
        <script>
        $('#side-menu').metisMenu();
        </script>
            <div class="navbar-header" >
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img ng-src="/modules/core/img/brand/logo.png" /></a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right" >


                <!-- /.dropdown -->
              <!--  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> Interpretation completed
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Users
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </li>-->
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      {{lang | uppercase}}  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li ng-click="changeLanguage('en')"><a href="#">EN</a>

                        </li>
                        <li ng-click="changeLanguage('th')">
                            <a href="#">TH
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->

            <li ui-route="/signup" ng-class="{active: $uiRoute}" data-ng-hide="authentication.user">
                <a href="/#!/signup">{{ 'REGISTER' | translate }}</a>
            </li>
            <li class="divider-vertical"></li>
            <li ui-route="/signin" ng-class="{active: $uiRoute}" data-ng-hide="authentication.user">
                <a href="/#!/signin">{{ 'SIGN_IN' | translate }}</a>
            </li>
                <li class="dropdown" data-ng-show="authentication.user" >
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <div class='round'  style="
                    	background: url({{gravatarUrl(authentication.user.email)}}); float: left;"></div>
                        <span data-ng-bind="authentication.user.displayName"></span> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/#!/settings/profile"><i class="fa fa-user fa-fw"></i> {{ 'PROFILE' | translate }}</a>
                        </li>
                          <li><a href="/#!/settings/accounts"><i class="fa fa-user fa-fw"></i> {{ 'SOCIAL_ACCOUNTS' | translate }}</a>
                        </li>
                        <li class="divider"></li>

                        <li><a href="/auth/signout"><i class="fa fa-sign-out fa-fw"></i> {{ 'SIGNOUT' | translate }}</a>

                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="sidebar" role="navigation" ng-show="sidebar">
              <img ng-src="/modules/core/img/brand/menu_doctor.png" />
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <!--<li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="{{ 'SEARCH' | translate }}">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                        </li>-->
                        <li >
                            <a ui-sref="dashboard"><i class="fa fa-dashboard fa-fw"></i> {{ 'DASHBOARD' | translate }}</a>
                        </li>
                        <li>
                            <a ui-sref="listTypings"><i class="fa fa-file-o"></i> {{ 'TYPINGDATA' | translate }}</a>
                        </li>
                        <li>
                            <a ui-sref="viewCalendar"><i class="fa fa-calendar"></i> {{ 'CALENDAR' | translate }}</a>
                        </li>
                        <li>
                            <a ui-sref="uploads"><i class="fa fa-upload"></i> {{ 'BATCH_UPLOAD' | translate }}</a>
                        </li>
                        <li ng-show="isAdmin()">
                            <a ui-sref="listHospitals"><i class="fa fa-hospital-o"></i> {{ 'HOSPITALS_DATA' | translate }}</a>
                        </li>
                        <li ng-show="isAdmin()">
                            <a ui-sref="listResultmaps"><i class="fa fa-book"></i> {{ 'HEMO_DICTIONARY' | translate }}</a>
                        </li>
                        <li ng-show="isAdmin()">
                            <a ui-sref="listRbcs"><i class="fa fa-cubes"></i> {{ 'PARAMETER_DATA' | translate }}</a>
                        </li>
                        <li ng-show="isAdmin()">
                            <a ui-sref="listSuggestions"><i class="fa fa-comment"></i> {{ 'SUGGESTION' | translate }}</a>
                        </li>
                        <li ng-show="isAdmin()">
                            <a href="#"><i class="fa fa-user-md"></i> {{ 'CURATORS_DATA' | translate }}<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                  <a ui-sref="signupcurator"><i class="fa fa-user-md"></i> {{ 'ADD_CURATOR' | translate }}</a>
                                </li>

                                <li>
                                  <a ui-sref="curatorgroup"><i class="fa fa-users"></i> {{ 'CURATOR_GROUP' | translate }}</a>
                                </li>
                            </ul>
                        </li>

                            <!-- /.nav-second-level -->

                      <!--  <li>
                            <a href="#"><i class="fa fa-tasks fa-fw"></i> {{ 'INTERPRETE_REPORT' | translate }}<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="buttons.html">{{ 'STATISTICS_REPORT' | translate }}</a>
                                </li>
                                <li>
                                    <a href="notifications.html">{{ 'DISTRIBUTION' | translate }}</a>
                                </li>
                            </ul>
                        </li>-->

                        <li ng-show="isAdmin()">
                            <a href="#"><i class="fa fa-cogs fa-fw"></i> {{ 'SERVER_MANAGEMENT' | translate }}<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a ui-sref="system"> {{ 'SERVER_RESOURCE' | translate }}</a>
                                </li>

                                <li>
                                    <a ui-sref="mongobackup"> {{ 'BACKUP_DATA' | translate }}</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
</div>
