<!-- Navigation -->
        <script>
        $('#side-menu').metisMenu();
        </script>
            <div class="navbar-header" >
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img ng-src="/modules/core/img/brand/logo.png" /></a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right" data-ng-controller="HeaderController">


                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      {{lang}}  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li ng-click="changeLanguage('en')"><a href="#">en</a>

                        </li>
                        <li ng-click="changeLanguage('th')">
                            <a href="#">th
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->

            <li ui-route="/signup" ng-class="{active: $uiRoute}" data-ng-hide="authentication.user">
                <a href="/#!/signup">ลงทะเบียน</a>
            </li>
            <li class="divider-vertical"></li>
            <li ui-route="/signin" ng-class="{active: $uiRoute}" data-ng-hide="authentication.user">
                <a href="/#!/signin">เข้าสู่ระบบ</a>
            </li>


                <li class="dropdown" data-ng-show="authentication.user" >
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <span data-ng-bind="authentication.user.displayName"></span> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/#!/settings/profile"><i class="fa fa-user fa-fw"></i> {{ 'PROFILE' | translate }}</a>
                        </li>
                         <li><a href="/#!/settings/accounts"><i class="fa fa-user fa-fw"></i> {{ 'SOCIAL_ACCOUNTS' | translate }}</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> {{ 'SETTINGS' | translate }}</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/auth/signout"><i class="fa fa-sign-out fa-fw"></i> {{ 'SIGNOUT' | translate }}</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="{{ 'SEARCH' | translate }}">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> {{ 'DASHBOARD' | translate }}</a>
                        </li>


                        <li>
                            <a ui-sref="listTypings"> {{ 'TYPINGDATA' | translate }}</a>
                        </li>
                        <li>
                            <a ui-sref="uploads"> {{ 'BATCH_UPLOAD' | translate }}</a>
                        </li>
                        <li>
                            <a ui-sref="listHospitals"> {{ 'HOSPITALS_DATA' | translate }}</a>
                        </li>
                        <li>
                            <a ui-sref="listResultmaps"> {{ 'HEMOGLOBIN_TYPE' | translate }}</a>
                        </li>
                        <li>
                            <a ui-sref="listRbcs"> {{ 'PARAMETER_DATA' | translate }}</a>
                        </li>
                        <li>
                            <a ui-sref="signupcurator"> {{ 'CURATORS_DATA' | translate }}</a>
                        </li>

                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-tasks fa-fw"></i> {{ 'INTERPRETE_REPORT' | translate }}<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="buttons.html">{{ 'STATISTICS_REPORT' | translate }}</a>
                                </li>
                                <li>
                                    <a href="notifications.html">{{ 'DISTRIBUTION' | translate }}</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                        <li>
                            <a href="#"><i class="fa fa-cogs fa-fw"></i> {{ 'SERVER_MANAGEMENT' | translate }}<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a ui-sref="system"> {{ 'SERVER_RESOURCE' | translate }}</a>
                                </li>
                                <li>
                                    <a href="buttons.html"> {{ 'SETTINGS' | translate }}</a>
                                </li>
                                <li>
                                    <a href="notifications.html"> {{ 'BACKUP_DATA' | translate }}</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
