<div class="row" data-ng-controller="HomeController">
            <div  >
                <div class="col-lg-12">
                    <h1 class="page-header">{{ 'BACKUP_DB' | translate }}</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-xs-12">
                    <button ng-click="startBackupDB()" class="btn btn-warning">Start Backup Database</button>
                    <div><pre ng-show="stdout">{{stdout}}</pre></div>
                </div>


            </div>
            <!-- /.row -->


</div><!-- /.row -->
