<div class="row" data-ng-controller="CuratorController" data-ng-init="find()">

	<div class="page-content col-xs-3" style="border-right: 1px solid #eee;">
		<div class="page-header">
		<h3>{{ 'ADD_CURATOR' | translate }}</h3>
	</div>
		<form class='form' name="userForm" data-ng-submit="addCurator()" novalidate autocomplete="off">

					<div class="form-group">
						<label for="firstName">{{ 'FIRSTNAME' | translate }}</label>
						<input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="curator.firstName" placeholder="{{ 'FIRSTNAME' | translate }}">
					</div>
					<div class="form-group">
						<label for="lastName">{{ 'LASTNAME' | translate }}</label>
						<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="curator.lastName" placeholder="{{ 'LASTNAME' | translate }}">
					</div>
					<div class="form-group">
						<label for="email">{{ 'EMAIL' | translate }}</label>
						<input type="email" id="email" name="email" class="form-control" data-ng-model="curator.email" placeholder="{{ 'EMAIL' | translate }}">
					</div>
					<div class="form-group">
						<label for="username">{{ 'USERNAME' | translate }}</label>
						<input type="text" id="username" name="username" class="form-control" data-ng-model="curator.username" placeholder="{{ 'USERNAME' | translate }}">
					</div>
					<div class="form-group">
						<label for="password">{{ 'PASSWORD' | translate }}</label>
						<input type="password" id="password" name="password" class="form-control" data-ng-model="curator.password" placeholder="{{ 'PASSWORD' | translate }}">
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-info">{{ 'ADD' | translate }}</button>
					</div>
					<div data-ng-show="error" class="text-center text-danger">
						<strong data-ng-bind="error"></strong>
					</div>
			</form>
	</div>
	<div class="page-content col-xs-9" >
		<div class="page-header">
		<h3>Curators List</h3>
	</div>
		<table class="table-striped table col-xs-12">
			<thead>
				<tr>
					<th>{{ 'NAME' | translate }}</th>
					<th>{{ 'USERNAME' | translate }}</th>
					<th>{{ 'EMAIL' | translate }}</th>
					<th>{{ 'MANAGE' | translate }}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="cr in allcurators">
				<td>{{ cr.firstName}} {{ cr.larstName}}</td>
				<td>{{ cr.username}}</td>
				<td>{{ cr.email}}</td>
				<td></td>
				</tr>
			</tbody>
		</table>


	</div>


</div>
