.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

/* remove empty href from ui.bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.live-interprete{
	background: #efefef;
	padding: 10px 10px;
}
.interprete-type{
	padding: 15px;
	color: #fff;
	margin-bottom: 5px;
	border-radius: 5px;
	margin: 5px;
}
.meta-typing{
	padding: 12px;
}
#frame { width: 100%; height: 520px; border: 1px solid black; }
#frame {
        -ms-zoom: 0.75;
        -moz-transform: scale(0.75);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.75);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.75);
        -webkit-transform-origin: 0 0;

				padding: 20px;
				box-shadow: 10px 10px 5px #888888;
				overflow-x: hidden;
				overflow-y: scroll ;
				border:none;
				height: 1100px;
				background-color: #fff;

				-webkit-box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.32);
-moz-box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.32);
box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.32);
}
.color-code{
	border-radius: 5px;
	padding: 5px;
	color: white;
}
.top-navigation{
	background-color: #404650;
}
.navbar-right  a {
  color: #fff !important;
}
.navbar-right  a:hover {
  background-color: #353A42 !important;
}
.items-list{
	list-style-type:none;
}
.intro{
	background-color: #1A9BAB;
	height: 400px;
	padding: 0px 220px;
}
.intro h1,.intro h3{
	color: #fff;
}
.intro h1{
	font-size: 3.6rem;
}
.intro h3{
	font-size: 2rem;
	font-family: "roboto_thin";
}
.intro_text{
	padding: 80px 0px;
	color: #fff;
}
.intro_img{
	background: url('../img/brand/doctors_l.png') no-repeat right bottom;
	height: 400px;
}
.intro_btn{
	height: 100px;
	padding: 40px;
}
