<div class="row" data-ng-controller="ResultmapsController" data-ng-init="find()">
    <div class="page-header">
        <h1>{{ 'HEMO_TYPE' | translate }} <span><a ui-sref="createResultmap" class="btn btn-lg btn-info"><i class="fa fa-plus fa-fw"></i> {{ 'ADD' | translate }}</a></span></h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="resultmap in resultmaps" data-ng-href="#!/resultmaps/{{resultmap._id}}" class="list-group-item">

			<h5 style="color: {{resultmap.color}};" class="list-group-item-heading" > <span class="label label-warning" data-ng-bind="resultmap.numcode"></span> <span data-ng-bind="resultmap.code"></span> </h5>
            <p style="font-size:1.2rem;" data-ng-bind="resultmap.results"></p>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!resultmaps.$resolved || resultmaps.length">
      {{ 'NO_HOMO_YET' | translate }} <a href="/#!/resultmaps/create">{{ 'CREATE_ONE' | translate }}</a>?
    </div>
</div>
