<section data-ng-controller="ResultmapsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="resultmap.code"></h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == resultmap.user._id))">
		<a class="btn btn-primary" href="/#!/resultmaps/{{resultmap._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<p>รายชื่อในกลุ่ม : <span data-ng-bind="resultmap.results"></span></p>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="resultmap.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="resultmap.user.displayName"></span>
		</em>
	</small>
	<p></p>
	<p><a class="btn btn-default" ui-sref="listResultmaps"><i class="fa fa-chevron-left"></i> กลับ</a></p>
</section>
