<div class="row" data-ng-controller="HospitalsController">
    <div class="page-header">
        <h1>เพิ่ม โรงพยาบาล</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">ชื่อโรงพยาบาล</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="ชื่อโรงพยาบาล" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">ที่อยู่</label>
                    <div class="controls">
                        <input type="text" data-ng-model="address" id="address" class="form-control" placeholder="ที่อยู่" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">ผู้ติดต่อ</label>
                    <div class="controls">
                        <input type="text" data-ng-model="contact_person" id="contact_person" class="form-control" placeholder="ผู้ติดต่อ" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">หมายเลขติดต่อ</label>
                    <div class="controls">
                        <input type="text" data-ng-model="contact_number" id="contact_number" class="form-control" placeholder="หมายเลขติดต่อ" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">ตำแหน่งโรงพยาบาล</label>
                    <div class="controls">
                        <input type="text" data-ng-model="location" id="location" class="form-control" placeholder="ตำแหน่งโรงพยาบาล">
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</div>