<div class="row"  data-ng-controller="HospitalsController" data-ng-init="find()">
    <div class="page-header">
        <h1>{{ 'HOSPITAL_INFO' | translate }} <a    class="btn btn-info" ui-sref="createHospital" ><i class="fa fa-plus fa-lg"></i> {{ 'ADD_HOSPITAL' | translate }} </a></h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="hospital in hospitals" data-ng-href="#!/hospitals/{{hospital._id}}" class="list-group-item">
			<small class="list-group-item-text">
        {{ 'ADD_DATE' | translate }}
				<span data-ng-bind="hospital.created | date:'medium'"></span>
        {{ 'BY' | translate }}
				<span data-ng-bind="hospital.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="hospital.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!hospitals.$resolved || hospitals.length">
      {{ 'NO_HOSPITAL_YET' | translate }} <a href="/#!/hospitals/create">{{ 'ADD' | translate }}</a>?
    </div>
</div>
