<section class="row" data-ng-controller="TypingsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>{{ 'EDIT_TYPING_DATA' | translate }}</h1>
        <h3 >{{ 'ANALYZED_MACHINE' | translate }} :{{typing.device}}</h3>
    </div>
    <div class="col-xs-4">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>

                <div class="form-group">
                    <label class="control-label col-md-4" for="name">{{ 'TYPING_ID' | translate }}</label>
                    <div class="col-md-8">
                        <input type="text" data-ng-model="typing.typingid" id="typingid" class="form-control" placeholder="{{ 'TYPING_ID' | translate }}" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4" for="name">{{ 'GENDER' | translate }}</label>
                    <div class="col-md-8">
                        <select class="form-control" ng-options="item.label for item in genderchoice track by item.id" data-ng-model="gender">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4" for="name">{{ 'AGE' | translate }}</label>
                    <div class="col-md-8">
                        <input type="text" data-ng-model="typing.age" id="age" class="form-control" placeholder="0">
                    </div>
                </div>
                <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" data-ng-model="typing.abnormal"> Abnormal Hemoglobin
                    </label>
                  </div>
                </div>
              </div>
                <div class="form-group" ng-repeat="rbc in rbcs">
                    <label class="control-label col-md-4" for="name">{{rbc.label}}</label>
                    <div class="col-md-6">
                        <input type="text" ng-change="relivecheck()" data-ng-model="typing.typing[rbc.name]" id="name" class="form-control" placeholder="0">
                    </div>
                    <div class="col-md-2">{{rbc.unit}}</div>
                </div>

                <div class="form-group">
                     <div class="col-sm-offset-4 col-sm-10">
                        <input  type="submit" class="btn btn-info" value="{{ 'UPDATE_BTN' | translate }}">
                    </div>
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>

        </form>
    </div>
    <div class="col-xs-7 col-xs-offset-1 live-interprete">
    <h2>{{ 'POSSIBLE_TYPING' | translate }}</h2>
        <div ng-show="liveresult" class="interprete-type col-xs-12" style="background-color:{{liveresult.color}};">
            <div>{{liveresult.results[0]}}</div>
        </div>
        <div class="other_result" ng-show="liveresult.results.length>1">
          <strong>{{ 'OTHER_POSSIBLE_TYPING' | translate }}</strong>

          <ul>
            <li ng-repeat="result in liveresult.results.slice(1)" >{{result}}</li>
          </ul>
        </div>
        <div class="typing_comemnt" ng-show="liveresult.comment">
          <strong>{{ 'COMMENTS' | translate }}</strong>
          <p>{{liveresult.comment}}</p>
        </div>
        <div  class="typing_suggestion" >
        <strong>{{ 'SUGGESTION' | translate }}</strong>
        <ul>
          <li ng-repeat="suggest in suggestions" ng-show="typingdata[suggest.param.name]" >{{suggest.suggestion}}</li>
        </ul>
      </div>
    </div>
</section>
