<div class="row" data-ng-controller="TypingsController" ng-init="find()">
    <div class="page-header">
        <h1>ข้อมูล Typings <a    class="btn btn-info" ui-sref="createTyping" ><i class="fa fa-plus fa-lg"></i> เพิ่ม Typing </a></h1>
    </div>
    <pre>Page: {{currentPage}} / {{numPages}}</pre>


    <div class="alert alert-warning text-center" data-ng-hide="!typings.$resolved || typings.length">
    	No Typings yet, why don't you <a href="/#!/typings/create">create one</a>?
    </div>
    <div class="col-xs-12 text-center">

    <pagination total-items="totalItems" items-per-page="perPage" ng-model="currentPage" max-size="maxSize" ng-change="setPage(currentPage)" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>

    </div>
    <div class="col-xs-12">
    <table class="table-striped table" >
    <thead>
    			<tr>
    				<th>Typing ID</th>
    				<th>Created</th>
            <th>Interprete Result</th>
            <th>Clinical Result</th>
            <th>Submitter</th>
    				<th>View</th>
    			</tr>
    			</thead>
    <tbody>
    	<tr ng-repeat="typing in typingslist">
    		<td>{{typing.typingid}}</td>
            <td>{{typing.created|date}}</td>
            <td>{{typing.interprete_code}}</td>
            <td>{{typing.clinical_result}}</td>
            <td>{{typing.user.displayName}}</td>
            <td><a data-ng-href="#!/typings/{{typing._id}}" class='btn btn-xs btn-info'><i class="fa fa-eye"></i> Detail</a></td>
    	</tr>
    	</tbody>

    </table>
  </div>

    <div class="col-xs-12 text-center">

    <pagination total-items="totalItems" items-per-page="perPage" ng-model="currentPage" max-size="maxSize" ng-change="setPage(currentPage)" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>

    </div>
</div >
