<div class="row" data-ng-controller="TypingsController" ng-init="find()">
    <div class="page-header">
        <h1>ข้อมูล Typings <a    class="btn btn-info" ui-sref="createTyping" ><i class="fa fa-plus fa-lg"></i> เพิ่ม Typing </a></h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="typing in typings" data-ng-href="#!/typings/{{typing._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="typing.created | date:'medium'"></span>
				by
				<span data-ng-bind="typing.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading">Typing ID <span data-ng-bind="typing.typingid"></span> <span class="label label-warning" data-ng-bind="typing.interprete_code"></span></h4>
            <p>Age: {{typing.age}}, A2E: {{typing.ae || 0}}, A: {{typing.a || 0}}, HbE: {{typing.hbe || 0}}, HbCS: {{typing.cs || 0}},H/Bart's: {{typing.bart_h || 0}}, F: {{typing.f || 0}}, MCV: {{typing.mcv || 0}}, Hb: {{typing.hb || 0}}, DCIP: {{typing.dcip || 0}} </p>
            
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!typings.$resolved || typings.length">
    	No Typings yet, why don't you <a href="/#!/typings/create">create one</a>?
    </div>
</div >