<div class="row" data-ng-controller="TypingsController" data-ng-init="findOneReport()">
	<div class="col-xs-12 page-header">
		<h1>Typing ID: {{typing.typingid}} </h1>
	</div>
	<div class="col-xs-12 pull-right" data-ng-show="((authentication.user) && (authentication.user._id == typing.user._id))">
		<a class="btn btn-primary" href="/#!/typings/{{typing._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
		<a class="btn btn-info" ui-sref="viewTypingReport" ng-show="typing.image">
			<i class="fa fa-bar-chart"></i> View Report
		</a>
		<form class="form-inline" data-ng-submit="uploadFile()" method="post" enctype="multipart/form-data" >

		<div class="form-group">

			<label for="exampleInputEmail1">อัพโหลดไฟล์</label>
		  	<input name="uploadfile" type="file" ng-file-select="onFileSelect($files)"/>
		  	<p class="help-block">รองรับเฉพาะไฟล์ภาพ (jpg,png,gif) </p>
		</div>
		  <button class="btn btn-info" type="submit" value="submit"><i class="fa fa-cloud-upload"></i> อัพโหลด</button>
		  <div class="progress class="col-xs-12"">
	  <div class="progress-bar progress-bar-success progress-bar-striped" progress-bar="uploadProgress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
	   <span ng-bind="uploadProgress"></span>
	    <span class="sr-only">%</span>
	  </div>
	</div>
		</form>

	</div>
	<div class="page-content col-xs-12">

		<table class="table-striped table col-xs-12" >
<thead>
			<tr>
				<th>Typing ID</th>
				<th>Created</th>
				<th>Age</th>
				<th>Gender</th>
				<th ng-repeat="(key, value) in typing.typing">{{key}}</th>

       			<th>Interprete Result</th>
			</tr>
			</thead>
<tbody>
	<tr>
		<td data-ng-bind="typing.typingid">{{}}</td>
        <td>{{typing.created|date}}</td>
				<td>{{typing.age}}</td>
        <td>{{typing.gender}}</td>
        <td ng-repeat="(key, value) in typing.typing">{{value| number: 2}}</td>

        <td>{{typing.resultmap.results.join(', ')}}</td>
	</tr>
	</tbody>
</table>
	</div>

	<div class="page-content col-xs-12" ng-show="typing.image" style="margin-bottom: 20px;">
			<h4>Typing Image</h4>
			<a target="_blank" href="/uploads/typingimage/{{typing.typingid}}/{{typing.image}}"><img class="col-xs-1" ng-src="/uploads/typingimage/{{typing.typingid}}/{{typing.image}}"/></a>
	</div>

</div>
