<div class="row" data-ng-controller="SuggestionsController" data-ng-init="find()">
    <div class="page-header">
        <h1>{{ 'SUGGESTION' | translate }} <a  style="float:right"  class="btn btn-info" ui-sref="createSuggestion" ><i class="fa fa-plus fa-lg"></i> {{ 'ADD_TYPING' | translate }} </a></h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="suggestion in suggestions" data-ng-href="#!/suggestions/{{suggestion._id}}" class="list-group-item">

			<h5 class="list-group-item-heading">
        {{suggestion.param.label}} <span style='color:#888'>found on</span> {{suggestion.resultmap.results[0]}}
			</h5>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!suggestions.$resolved || suggestions.length">
    	No Suggestions yet, why don't you <a href="/#!/suggestions/create">create one</a>?
    </div>
</div>
