<section data-ng-controller="CalendarsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Calendars</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="calendar in calendars" data-ng-href="#!/calendars/{{calendar._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="calendar.created | date:'medium'"></span>
				by
				<span data-ng-bind="calendar.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="calendar.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!calendars.$resolved || calendars.length">
    	No Calendars yet, why don't you <a href="/#!/calendars/create">create one</a>?
    </div>
</section>