<section data-ng-controller="CalendarsController" >
	<div class="page-header">
		<h1 data-ng-bind="calendar.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == calendar.user._id))">
		<a class="btn btn-primary" href="/#!/calendars/{{calendar._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div>
</section>
